body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 575px;
  height: 825px;
  background-color: #797978;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  font-size: 40px;
  color: white;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  border: 2px solid #212121;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #d6d6d6;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
  color: white;
}

#weight-guide h3 {
  font-size: 25px;
}

#weight-guide p {
  font-size: 18px;
}
